python-telegram-bot[all]==20.7
PyGithub==1.59.1
GitPython==3.1.40
firebase-admin==6.2.0
flask==3.0.0
requests==2.31.0
APScheduler==3.10.4
pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability